@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ticket System</h1>
    <p>Welcome to the Ticket System project 📩</p>

    <p>
        <a class="btn btn-primary" asp-controller="Tickets" asp-action="Index">Go to Tickets</a>
    </p>
</div>
